<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <base href="{{deployURL}}">
    <meta name="description" content="Your page description">
    <meta name="author" content="Your name">
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta property="og:image" content="<!-- add link here -->" />

    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/menu.js" defer></script>

    </head>