<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <base href="{{deployURL}}">
    <meta name="description" content=" A Website for the DIY at Spencer Ormand">
    <meta name="author" content="Bryce Walsh">
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta property="og:image" content="Metaimage.png">

    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/menu.js" defer></script>

    </head>