<a href="#main-content" class="skip-link">Skip to content</a>
<header class="main-nav-container">
    <a href="/" class="header-logo-link"><img class="header-logo" alt="Home" src="https://place-hold.it/90x90" /></a>

    <nav class="main-nav">
        <div class="nav-button-right">
            <button class="btn-toggle-menu">
                <svg aria-hidden="true" viewBox="0 0 100 60" width="30" height="30">
                    <rect width="100" height="10"></rect>
                    <rect y="30" width="100" height="10"></rect>
                    <rect y="60" width="100" height="10"></rect>
                </svg>
                {% comment %} give this span a class of 'sr-only' to visually hide the text but keep it available for assistive text user {% endcomment %}
                <span class="">Menu</span>

            </button>

        </div>

        <div class="nav-items-list nav-items-list-hidden">
            <a href="/">Home</a>
            <a href="/page2/">Page 2</a>
            <a href="/subfolder/example/">A third page in a folder</a>
        </div>

    </nav>
</header>