:root {
  /* this is the height of the header bar */
  --header-height: 130px;
  /* this is the background color of the header bar and panel */
  --menu-bg: #9ae9cf;
  --menu-highlight-hover: white;
}

* {
  /* leave this on - it helps size things consistently */
  box-sizing: content-box;
  /* border: 1px solid red; */
}

.skip-link {
  opacity: 0;
  position: fixed;
  z-index: 10000;
  top: -10rem;
  left: 1rem;
  background-color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}
.skip-link:focus {
  top: 1rem;
  opacity: 1;
  transition: opacity 0.2s;
}
/* this is the component that contains the top nav bar */
.main-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: var(--menu-bg);
}
/* this is img element that is the header logo */
.header-logo {
  padding: 1rem;
}
.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-link:hover {
  background-color: var(--menu-highlight-hover);
  transition: background-color 0.3s;
}
.nav-items-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  /* set this to auto if you don't want the mobile nav to fill the screen */

  height: calc(100vh - 130px);
  /* if you want the flyout nav to have a different background color, put it here */
  background: var(--menu-bg);
  transition: all 0.3s;
  z-index: -10;
}

/* this is the class that is applied when the mobile nav disappears */
.nav-items-list-hidden {
  opacity: 0;
  pointer-events: none;
  /* you can replace this with a different transform to change the direction it moves out in */
  transform: translateY(-100px);
  transition: all 0.3s;
}
/* this is the styling that is applied to the menu links on mobile */
.nav-items-list a {
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s;
}
.nav-items-list a:hover {
  background-color: var(--menu-highlight-hover);
  transition: background-color 0.3s;
}
/* this is the element that contains the hamburger button that positions it vertically within the header bar */
.nav-button-right {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}
.sr-only {
  opacity: 0 !important;
  position: absolute !important;
  pointer-events: none !important;
}

/* this is the actual button that toggles the menu */
.btn-toggle-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 1rem;
  border: none;
  background: transparent;
  z-index: 1000;
}
.btn-toggle-menu:hover {
  background-color: white;
}
/* this makes sure the header doesn't cover any page content */
main {
  margin-top: var(--header-height);
}

/* this media query sets the point where the layout transitions from top bar to hamburger */
@media (min-width: 640px) {
  /* this makes the top bar menu items go across in a row on desktop */
  nav.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  /* this sets the gap between the logo and the nav items */
  .main-nav-container {
    gap: 1rem;
  }
  /* this is the element that contains the 3 nav items on DESKTOP */
  .nav-items-list {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    gap: 1rem;
    z-index: 100;
  }
  /* this is the selector that makes sure the nav is always visible on desktop  */
  .nav-items-list-hidden {
    opacity: 1;
    pointer-events: all;
    transform: none;
    transition: all 0.3s;
  }
  /* this is the selector that hides the nav on desktop */
  .btn-toggle-menu {
    display: none;
  }

  /* this is the styling that is applied to the menu links on desktop */
  .nav-items-list a {
    font-size: 1.5rem;
  }
}
