<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About Us | The Spot' %}
  <body class="aboutus">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="h1secondary">About Us</h1>

      <p class="aboutusp" width=513px height=329px>
        The Spot is a DIY or Do It Yourself skatepark, built by skaters for skaters. We do our best to make it a warm and welcoming enviroment for all.
      </p>

      <div class="colorbar"></div>

      <h2>Support Our Community</h2>

      <a href="https://woolskateboards.com/" target="_blank"><img alt="Wool Skateboards" src=""> </a> 

      <a href="https://flowerskateshop.com/" target="_blank"><img alt="Flower Skateshop" src=""> </a>

      <iframe
          width="560" height="315"
          src="https://www.youtube.com/embed/qi0QNtAuZ4M?si=1kqPR1Ek-jh6mN-1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
      </iframe>

    </main>
    {% include 'footer' %}
  </body>
</html>
