<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About Us | The Spot' %}
  <body class="aboutus">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="h1secondary">Events</h1>

      <p class="open" width: 513px; height: 329px;>
        The Spot is host to a wide variety of events such as fundraisers, music shows, and skate jams.
      </p>

  <div class="colorbar"></div>

      

      <h2>Past Events</h2>



    </main>
    {% include 'footer' %}
  </body>
</html>
