<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'About Us | The Spot' %}

<body class="obs">
  {% include 'header' %}
  <main id="main-content">
    <h1 class="h1secondary">Obstacles</h1>

    <p class="obstaclesp">
      *These features are subject to change*
    </p>

    <h2 class="obsh2">Transition</h2>

    <div class="center">
      <section class="flex">
        <img class="obstacleimg" src="/assets/tran4.JPG" alt="transition obstacle">
        <img class="obstacleimg" src="/assets/tran1fr.JPG" alt="transition obstacle">
        <img class="obstacleimg" src="/assets/tran3.JPG" alt="transition obstacle">
        <img class="obstacleimg" src="/assets/tran2.JPG" alt="transition obstacle">
        <img class="obstacleimg" src="/assets/tran5.JPG" alt="transition obstacle">
      </section>
    </div>

    <div class="colorbarpad" ><div class="colorbar"></div></div>

    <h2 class="obsh2">Ledges</h2>

    <div class="center">
    <section class="flex">
      <img class="obstacleimg" src="/assets/ledge2.png" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge1.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge4.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge5.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge.JPG" alt="ledge obstacle">
    </section>
    </div>

    <div class="colorbarpad"><div class="colorbar"></div></div> 

    <h2 class="obsh2">Rails</h2>
    
    <div class="center">
    <section class="flex">
      <img class="obstacleimg" src="/assets/arail.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/rail1.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/rail3.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/slantedrail.png" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/curb.png" alt="rail obstacle">
    </section>
     </div>

  </main>
  {% include 'footer' %}
</body>

</html>