<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About Us | The Spot' %}
  <body class="aboutus">
    {% include 'header' %}
    <main id="main-content">
      <h1 class="h1secondary">Obstacles</h1>

      <p class="obstaclesp" >
        *These features are subject to change*
      </p>

      <h2>Transition</h2>

      <img class="obstacleimg" src="/assets/tran4.JPG" alt="transition obstacle">
      <img class="obstacleimg" src="/assets/tran1fr.JPG" alt="transition obstacle">
      <img class="obstacleimg" src="/assets/tran3.JPG" alt="transition obstacle">
      <img class="obstacleimg" src="/assets/tran2.JPG" alt="transition obstacle">
      <img class="obstacleimg" src="/assets/tran5.JPG" alt="transition obstacle">

  <div class="colorbar"></div>

      <h2>Ledges</h2>

      <img class="obstacleimg" src="/assets/ledge2.png" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge1.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge4.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge5.JPG" alt="ledge obstacle">
      <img class="obstacleimg" src="/assets/ledge.JPG" alt="ledge obstacle">

  <div class="colorbar"></div>

      <h2>Rails</h2>

      <img class="obstacleimg" src="/assets/arail.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/rail1.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/rail3.JPG" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/slantedrail.png" alt="rail obstacle">
      <img class="obstacleimg" src="/assets/curb.png" alt="rail obstacle">

    </main>
    {% include 'footer' %}
  </body>
</html>
